# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Keep duplicate app copies and generated environments out of the root repository
/backend/venv
/frontend
/Rajdeep_Singh_technical_assessment
**/__pycache__
*.pyc
*.zip
*.pdf
*.docx
